<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
  <title>VueJS | Landing Page | HTML version</title>
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3.4.38/dist/vue.esm-browser.js",
        "vue/server-renderer": "https://cdn.jsdelivr.net/npm/@vue/server-renderer@3.4.38/dist/server-renderer.esm-browser.js"
      },
      "scopes": {}
    }
  </script>
</head>
<body>

  <div id="app">
    <header>
      <div class="logo">Site name</div>
      <nav>
        <ul>
          <li v-for="itemNav in navList" :key="itemNav.id">{{ itemNav.text }}</li>
        </ul>
        <button class="btn_std" type="button>">Button</button>
      </nav>
    </header>

    <main>
      <article>
        <h1>Landing page title</h1>
        <p>Subheading that sets up context, shares more info about the website, or generally gets people psyched to keep scrolling.</p>
        <button class="btn_big">Button</button>
        <img src="./assets/Hero Image.png" alt="Hero Landingpage">
      </article>

      <section class="section_one">
        <h2>Section heading</h2>
        <ul>
          <li v-for="item in list" :key="item.id">
            <img :src="item.img" :alt="item.alt">
            <h3>Subheading</h3>
            <p>Body text for whatever you’d like to add more to the subheading.</p>
          </li>
        </ul>
      </section>

      <section class="section_two">
        <div class="section_two--group">
          <div class="left">
            <h2>Section heading</h2>
            <div v-for="itemTwo in listTwo" :key="index">
              <h3>Subheading</h3>
              <p>{{ itemTwo.text }}</p>
            </div>
            <div class="actions">
              <button class="btn_std" type="button">Button</button>
              <button class="btn_std--secondary" type="button">Secondary button</button>
            </div>
          </div>
          <div class="right">
            <img src="./assets/Image-3.png" alt="Image section two">
          </div>
        </div>
      </section>

      <section class="section_three">
        <h2>Section heading</h2>
        <div class="section_three--group">
          <div v-for="itemThree in listThree" :key="index" class="item">
            <h3>{{ itemThree.text}}</h3>
            <div class="item--group">
              <img :src="itemThree.img" :alt="itemThree.name">
              <h4>{{ itemThree.name }}</h4>
              <p>{{ itemThree.desc }}</p>
            </div>

          </div>
        </div>
      </section>
      <section class="section_four">
        <h2>Add your email for receive notifications</h2>
        <form>
          <fieldset>
            <label for="email">Your email</label>
            <input type="email" placeholder="Add your email">
            <button @click.prevent="notify">Send</button>
          </fieldset>
        </form>
      </section>
    </main>
  </div>
  


  <script type="module">
    import { createApp, ref } from 'vue'

    createApp({
      
      setup() {

        const navList = ref([
          {id: 0, text: 'Page One'},
          {id: 1, text: 'Page Two'},
          {id: 2, text: 'Page Three'},
          {id: 2, text: 'Page Four'}
        ])
        
        const list = ref([
          {
            id: 0, 
            img: './assets/Image.png',
            alt: 'Title image One'
          }, {
            id: 1, 
            img: './assets/Image-1.png', 
            alt: 'Title image Two'
          }, {
            id: 2, 
            img: './assets/Image-2.png', 
            alt: 'Title image Three'
          }
        ])

        const listTwo = ref([
          {text: 'Body text for whatever you’d like to expand on the main point.'},
          {text: 'Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes.'},
          {text: 'Body text for whatever you’d like to add more to the main point. It provides details, explanations, and context.'},
        ])

        const listThree = ref([
          {
            text: '“A terrific piece of praise”', 
            name: 'John', 
            desc: 'lorem ipsum', 
            img: './assets/Avatar.png'
          }, {
            text: '“A fantastic bit of feedback”', 
            name: 'Jane', 
            desc: 'sit dolor amet', 
            img: './assets/Avatar-1.png'
          }, {
            text: '“A genuinely glowing review”', 
            name: 'Mary', 
            desc: 'consectetur adipisicing elit', 
            img: './assets/Avatar-2.png'
          }
        ])

        function notify() {
          alert('Votre mail a été envoyé avec succès !')
        }

        return {
          navList,
          list,
          listTwo,
          listThree,
          notify
        }
      }

    }).mount('#app')
    
  </script>

</body>
</html>